.login {
  margin: 20px;
  min-height: 73vh;
  align-items: center;
  text-align: center;
}
.registrasi {
  margin: 50px;
  align-items: center;
  text-align: center;
}
.combate-login {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.combate-regist {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.combate-satu {
  vertical-align: bottom;
}
.regist-dua {
  background-color: #c7eeff;
}
.login-satu {
  width: 100%;
  background-color: #c7eeff;
}
.login-img {
  width: 70%;
  align-items: center;
  justify-content: center;
}
.headTitle {
  color: #08376b;
  text-align: center;
  padding: 25px;
  margin: 15px;
}
.daftarAkun {
  display: flex;
  justify-content: center;
}
.button {
  margin: 2px;
}
.plus {
  color: white;
  background: #08376b;
  padding: 3px 30px;
  border: none;
  border-radius: 5px;
  margin: 3px 12px;
  margin-bottom: 15px;
  font-weight: 400;
}
.mines {
  color: black;
  background: #c7eeff;
  padding: 3px 30px;
  border: none;
  border-radius: 5px;
  margin: 6px 12px;
  margin-bottom: 15px;
  font-weight: 400;
}
Link {
  cursor: pointer;
}
