.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c7eeff;
}
.card-login {
  width: 600px;
  height: 363px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); /* Efek box shadow */
}
.registrasi {
  margin: 50px;
  align-items: center;
  text-align: center;
}
.combate-login {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.combate-regist {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.combate-satu {
  vertical-align: bottom;
}
.regist-dua {
  background-color: #c7eeff;
}
.login-satu {
  width: 100%;
  background-color: #c7eeff;
}
.login-img {
  width: 100%;
  max-width: fit-content;
}
.headTitle {
  color: #08376b;
  text-align: center;
  padding: 25px;
  margin: 15px;
}
.daftarAkun {
  display: flex;
  justify-content: center;
}
.button {
  margin: 2px;
}
.plus {
  color: white;
  background: #08376b;
  padding: 3px 30px;
  border: none;
  border-radius: 5px;
  margin: 3px 12px;
  margin-bottom: 15px;
  font-weight: 400;
}
.mines {
  color: black;
  background: #c7eeff;
  padding: 3px 30px;
  border: none;
  border-radius: 5px;
  margin: 6px 12px;
  margin-bottom: 15px;
  font-weight: 400;
}
Link {
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    height: auto; /* Mengubah tinggi container menjadi otomatis */
  }

  .card-login {
    width: 70%; /* Mengubah lebar card menjadi 80% dari lebar layar */
    height: auto; /* Mengubah tinggi card menjadi otomatis */
    padding: 10px;
    padding-bottom: 25px;
  }
  .login-img {
    display: none;
  }
  .combate-login {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
  }
  .headTitle {
    margin: auto;
    padding: auto;
  }
}
