.pageCustomer {
  text-align: center;
  margin: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.card-customer {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .card-customer {
    width: 100%;
    margin: 0 auto;
  }
}
