* {
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}
main {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  width: 100%;
}
h5 {
  font-size: 15px;
  align-items: center;
  color: #A3423B;
  margin: 14px 8px 14px 8px;
}
.card {
  margin-top: 20px;
  min-height: 65vh;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
